<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        #dashboard_div{
            width: 600px;
            border: 1px solid #ccc;
        }
        #chart_div{
            height:400px;
            border-bottom: 1px solid #ccc;
        }
        #filter_div{
            height:50px;
        }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});

        var config = {
            api:{
                enable: true,
                interval: 1000 * 3
            },
            candlestick:{
                currency: 'USD_JPY',
                timeframe: 'M5',
                length: 20,
                numViews: 5,
            },
        };

        function drawChart(dataTable) {
            var chartDiv = document.getElementById('chart_div');
            var charts = [];
            var dashboard = new google.visualization.Dashboard(chartDiv);
            var mainChart = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                containerId: 'chart_div',
                options: {
                    hAxis: {'slantedText': false},
                    legend: {'position': 'none'},
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' },
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                    },
                    seriesType: "candlesticks",
                    series: {}
                },
                view: {
                    columns: [
                        {
                            calc: function(d, rowIndex) {
                                return d.getFormattedValue(rowIndex, 0);
                            },
                            type: 'string'

                        }, 1, 2, 3, 4
                    ]
                }
            });
            charts.push(mainChart);
            var options = mainChart.getOptions();
            var view = mainChart.getView();
            for (var i = 0; i < 2; i++) {
                options.series[i + 1] = {type: 'line'};
                view.columns.push(6 + i);
            }


            if ($('#volume_div').length == 0) {
                $('#technical_div').append(
                            "<div id='volume_div' class='bottom_chart'>" +
                            "<span class='technical_title'>Volume</span>" +
                            "<div id='volume_chart'></div>" +
                            "</div>")
            }
            var volumeChart = new google.visualization.ChartWrapper({
                'chartType': 'ColumnChart',
                'containerId': 'volume_chart',
                'options': {
                        'hAxis': {'slantedText': false},
                        'legend': {'position': 'none'},
                        'series': {}
                },
                'view': {
                        'columns': [ { 'type': 'string' }, 5]
                }
            });
            charts.push(volumeChart)

            var controlWrapper = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnIndex': 0,
                    'ui': {
                        'chartType': 'LineChart',
                        'chartView': {
                            'columns': [0, 4]
                        }
                    }
                }
            });

            dashboard.bind(controlWrapper, charts);
            dashboard.draw(dataTable);
        }

        function request () {
            if (config.api.enable == false){
                return
            }
            var params = {
                currency: config.candlestick.currency,
                length: config.candlestick.length,
                timeframe: config.candlestick.timeframe,
                extra_size: 2,
                extra:  [{number:1, method: 'sma', window:5},
                        {number:2, method: 'sma', window:10}]
            }
            var jsono = JSON.stringify(params)
            $.post("/webapi/oanda", params).done(function (data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Date');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');
                dataTable.addColumn('number', 'SMA5');
                dataTable.addColumn('number', 'SMA10');

                var googleChartData = [];
                var candles = data["candles"];

                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];

                    for(var j = 1; j <= 2; j++) {
                        var sma = data[String(j)];
                        var d = sma[i]
                        if (d == 0.0) {
                            datas.push(null);
                        } else {
                            datas.push(d);
                        }
                    }

                    googleChartData.push(datas)
                }
                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        function request2 () {
            if (config.api.enable == false){
                return
            }
            var params = {
                currency: config.candlestick.currency,
                length: config.candlestick.length,
                timeframe: config.candlestick.timeframe,
            }
            $.get("/webapi/oandafx2/", params).done(function (data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Date');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');

                var googleChartData = [];
                var candles = data["candles"];

                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];
                    googleChartData.push(datas)
                }
                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        function changeTimeframe(s){
            config.candlestick.timeframe = s;
            request();
        }

        setInterval(request, 1000)
        window.onload = function () {
            request()
            $('#dashboard_div').mouseenter(function() {
                config.api.enable = false;
            }).mouseleave(function() {
                config.api.enable = true;
            });
        }
    </script>
</head>
<body>

<div>
    <button onclick="changeTimeframe('M1');">M1</button>
    <button onclick="changeTimeframe('M5');">M5</button>
    <button onclick="changeTimeframe('M15');">M15</button>
</div>

<div>
    SMA <input id="inputSma" type="checkbox">
    Period<input id="inputSmaPeriod1" type="text" value="7" style="width: 15px;">
    <input id="inputSmaPeriod2" type="text" value="14" style="width: 15px;">
    <input id="inputSmaPeriod3" type="text" value="50" style="width: 15px;">
</div>

<div id="dashboard_div">
    <div id="chart_div"></div>
    <div id="technical_div"></div>
    <div id="filter_div"></div>
</div>

</body>
